@font-face {
    font-family: 'CustFont_1';
    src: url('fonts/FilmotypeWand.ttf') format('truetype');
}
@font-face {
    font-family: 'CustFont_2';
    src: url('fonts/gnyrwn971.ttf') format('truetype');
}
@font-face {
    font-family: 'CustFont_3';
    src: url('fonts/LeoHand.ttf') format('truetype');
}

body{
    background-color: rgb(182, 147, 236);
    max-width: 1440px;
    margin: 0;    
}

.DjUn{
    font-family: 'CustFont_1';
}
.NYSM{
    font-family: 'CustFont_2';
}
.InBa{
    font-family: 'CustFont_3';
}

.tab{
    list-style: none;
    color: black;
}
.nav{
    position: relative;
            display: inline-block;
            padding: 10px 20px;
            margin: 20px;
            font-size: 18px;
            color: black;
            text-decoration: none;
            transition: color 0.3s ease;
}

.fig1{
    text-align: left;
}
.fig2{
    text-align: center;
}
.fig3{
    text-align: right;
}

img{
    width: 420px;
    height: 300px;
    border-radius: 15px;
    transition: all 0.3s ease
}

.man{
    font-weight: 1000px;
}

@keyframes vibrate {
    from{transform:translateX(-3px) ;}
to{transform: translateX(3px);}
}
.button{
    text-align: center;
    animation: vibrate 0.1s infinite;
}
.button:hover{
    background-color: chartreuse;
    animation: step-end;
}

.nav:before{
       content: '';
            position: absolute;
            bottom: 0;
            left: 50%;
            width: 0;
            height: 2px;
            background: linear-gradient(chartreuse);
            transition: all 0.3s ease;
            transform: translateX(-50%);
}
.nav:hover::before{
    width: 100%;
}
.nav:hover {
    color: chartreuse;
}

img:hover{
    transform: scale(1.1);
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.15);
}